/* 空的购物车状态 */
.null_cover {
	display: none;
}

.null_order {
	width: 100%;
	height: 250px;
	background-color: #F4F4F4;
	text-align: center;
	justify-content: center;
	display: flex;
	padding-top: 50px;
	box-sizing: border-box;
	align-items: center;
}

.null_order .null_img {
	height: 130px;
	width: 130px;
	background: url(../img/carlist/cart-empty.png) no-repeat center center;
	background-size: cover;
}

.null_order .null_rgt {
	text-align: left;
	font-size: 22px;
	margin-left: 35px;
}

.null_rgt .goby a {
	width: 120px;
	height: 40px;
	line-height: 40px;
	background: #3084e5;
	color: #fff;
	font-size: 14px;
	text-align: center;
	color: white;
	cursor: pointer;
	transition: all .4s;
	display: inline-block;
	margin-top: 35px;

}

/* 购物车 */
.carlist {
	width: 100%;
	background-color: #F4F4F4;
	font-size: 12px;
	padding-bottom: 50px;
}

.carlist .car_order {
	margin-top: 15px;
	background-color: white;
	padding: 0 20px;
	box-sizing: border-box;
}

.carlist .car_order .car_title {
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #eee;
}

.car_order .car_title>li {
	color: #666;
	text-align: center;
}

.car_order .car_title .tit_input {
	width: 80px;
	text-align: center;
}

.car_order .car_title .tit_input .checkbox {
	width: 15px;
	position: relative;
	display: inline-block;
	margin-top: 1px;
}

.car_order .car_title .checkAll {
	position: absolute;
	width: 16px;
	height: 16px;
	top: -11px;
	left: 0;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	cursor: pointer;
}

.car_order .car_title .checkAll::after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 3px;
	left: 3px;
	border: 2px solid #2e8ae4;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
}

.car_order .car_title .tit_input:hover .checkAll::after {
	opacity: 0.5;
}

.car_order .car_title .tit_info {
	width: 535px;
	text-indent: 26px;
	text-align: left;
}

.car_order .tit_price {
	width: 130px;
}

.car_order .tit_num {
	width: 120px;
}

.car_order .tit_money {
	width: 140px;
}

.car_order .tit_opera {
	width: 164px;
}

/* 下部列表 */

.order_lists:last-child {
	/* border-bottom: none; */
}

.order_lists {
	width: 100%;
	clear: both;
	height: 120px;
	border-bottom: 1px solid #eaeaea;
}

.order_lists li {
	float: left;
	height: 100%;
	text-align: center;
	color: #666;
}


.order_lists .list_input {
	width: 80px;
	text-align: center;
}

.order_lists .list_input .checkbox {
	width: 15px;
	position: relative;
	display: inline-block;
	margin-top: 1px;
}

.car_order .order_lists .odrcheck {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 10px;
	left: 0;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	cursor: pointer;
}

.order_lists .odrcheck::after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 3px;
	left: 3px;
	border: 2px solid #2e8ae4;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
}

.order_lists .list_input:hover .odrcheck::after {
	opacity: 0.5;
}

.list_con {
	width: 535px;
	text-align: left;
}

.order_lists .list_con {
	width: 535px;
}

.order_lists .list_con .list_img {
	margin-top: 20px;
	float: left;
}

.order_lists .list_con .list_img img {
	width: 90px;
	height: 90px;
	display: block;
	vertical-align: top;
}

.order_lists .list_con .list_img>a {
	display: block;
}

.order_lists .list_con .list_text {
	margin: 20px 0 0 10px;
	line-height: 18px;
	width: 420px;
	float: left;
	font-size: 14px;
	padding-left: 5px;
	text-align: left;
}

.order_lists .list_con .list_text a {
	line-height: 32px;
}

.list_text p {
	font-size: 12px;
	color: #999;
}

.p_padding {
	padding: 0 0 3px 0;
}

.order_lists .list_price {
	width: 130px;
}

.order_lists .list_price .price {
	line-height: 18px;
	color: #e83733;
	padding-top: 20px;
	font-size: 16px;
}

.text_de {
	text-decoration: line-through;
	color: #999;
	padding-top: 5px;
}

.order_lists .list_amount {
	width: 120px;
}

.order_lists .list_amount .amount_box {
	margin-top: 20px;
	width: 77px;
	height: 25px;
	position: relative;
	display: inline-block;
}

.order_lists .list_amount .amount_box .reduce {
	left: 0;
}

.order_lists .list_amount .amount_box a {
	float: left;
	height: 25px;
	width: 18px;
	border: 1px solid #e5e5e5;
	background: #f0f0f0;
	text-align: center;
	line-height: 23px;
	color: #444;
	position: absolute;
	top: 0;
	cursor: pointer;
}

.order_lists .list_amount .amount_box a:hover {
	border-color: #2e8ae4;
	text-decoration: none;
	color: #2e8ae4;
	z-index: 3;
}

.order_lists .list_amount .amount_box input {
	width: 39px;
	height: 17px;
	line-height: 17px;
	border: 1px solid #e5e5e5;
	color: #343434;
	text-align: center;
	padding: 4px 0;
	background-color: #fff;
	z-index: 2;
	position: absolute;
	left: 18px;
	float: left;
	outline: none;
}

.order_lists .list_amount .amount_box .plus {
	border-left-color: transparent;
	right: 0;
}

.order_lists .list_sum {
	width: 140px;
}

.order_lists .list_sum .sum_price {
	line-height: 18px;
	margin-top: 20px;
	color: #e83733;
	font-size: 16px;
}

.order_lists .list_op {
	width: 164px;
}

.order_lists .list_op .del {
	margin-top: 20px;
	line-height: 18px;
}

.order_content ul {
	height: 120px;
}

/* 取消全选 */

.bar-wrapper {
	width: 1170px;
	height: 55px;
	background: #fff;
}

.bar-left {
	float: left;
	line-height: 55px;
	color: #666;
}

.content_all {
	float: left;
	text-align: center;
	cursor: pointer;
}

.content_all .checkbox .checkbox {
	width: 15px;
	position: relative;
	display: inline-block;
	margin-top: 1px;
}

.content_all .cancel_check {
	position: absolute;
	width: 16px;
	height: 16px;
	top: -16px;
	left: 35px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.content_all .cancel_check::after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 3px;
	left: 3px;
	border: 2px solid #2e8ae4;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
}

.content_all:hover .cancel_check::after {
	opacity: 0.5;
}

.closeAll {

	display: inline-block;
}

.bar-wrapper .checkbox {
	position: relative;
	display: inline-block;
}

.cancel_all {
	display: inline-block;
	vertical-align: 1px;
	cursor: pointer;
	margin: 0 40px 0 60px;
	font-size: 14px;
}

.goon_shop {
	cursor: pointer;
}

.bar-wrapper .bar-right {
	float: right;
	color: #3c3c3c;
}

.bar-wrapper .bar-right .piece {
	float: left;
	min-width: 110px;
	margin-right: 20px;
	height: 55px;
	line-height: 55px;
}

.bar-wrapper .bar-right .totalMoney {
	float: left;
	min-width: 100px;
	height: 55px;
	line-height: 55px;
	margin-right: 10px;
}

.bar-wrapper .bar-right .calBtn {
	float: left;
}

.bar-wrapper .bar-right .piece .piece_num {
	display: inline-block;
	padding: 0 10px;
	font-weight: normal;
	font-size: 18px;
	font-family: tohoma, arial;
}

.piece_blue {
	color: #2e8ae3 !important;
	font-size: 16px !important;
}

.bar-wrapper .bar-right .totalMoney .total_text {
	font-weight: 400;
	font-size: 20px;
	font-family: Arial;
	vertical-align: middle;
	margin-right: 10px;
	margin-left: 5px;
}

.bar-wrapper .bar-right strong {
	color: #e83733;
}

.bar-wrapper .bar-right .calBtn a.btn_sty {
	background: #e83733;
	cursor: pointer;
}

.bar-wrapper .bar-right .calBtn a {
	display: block;
	width: 120px;
	height: 55px;
	color: #fff;
	background: #B0B0B0;
	cursor: not-allowed;
	font-size: 22px;
	text-decoration: none;
	line-height: 55px;
	text-align: center;
	border-radius: 2px;
}
